<div class="row">
  <div class="col-lg-4 col-offset-4">
    <div class="well">
      <%= form_tag sessions_path, novalidate: 'novalidate' do %>
        <div class="form-inputs">
          <%= label_tag :email, t('.email'), class: 'control-label' %>
          <div class="controls">
            <%= email_field_tag :email, params[:email], autofocus: true %>
          </div>

          <%= label_tag :password, t('.password'), class: 'control-label' %>
          <div class="controls">
            <%= password_field_tag :password %>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag :remember_me, 1, params[:remember_me] %> <%= t('.remember_me') %>
            </label>
          </div>
        </div>

        <div class="form-actions">
          <%= submit_tag t('.log_in'), class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-offset-4">
    <p><%= link_to t('.forgot_password'), new_password_reset_path %></p>
  </div>
</div>
