<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_tag password_resets_path, novalidate: 'novalidate' do %>
        <div class="form-inputs">
          <div class="form-group">
            <%= label_tag :email, t('.email'), class: 'control-label' %>
            <div class="controls">
              <%= email_field_tag :email, params[:email], class: 'form-control', autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= submit_tag t('.send_instructions'), class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p><%= link_to t('.back'), root_path %></p>
  </div>
</div>
