<%% if @<%= plural_table_name %>.empty? %>
  <%%= render 'shared/empty_index', message: t('.empty_html') %>
<%% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <%- attributes.each do |attribute| -%>
        <th><%%= <%= singular_table_name.camelize %>.human_attribute_name '<%= attribute.name %>' %></th>
        <%- end -%>
        <th colspan="3">
          <%%= link_to_new new_<%= singular_table_name %>_path, class: 'btn btn-default btn-xs pull-right' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
          <%- attributes.each do |attribute| -%>
          <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <%- end -%>
          <td><%%= link_to_show <%= singular_table_name %> %></td>
          <td><%%= link_to_edit [:edit, <%= singular_table_name %>] %></td>
          <td><%%= link_to_destroy <%= singular_table_name %> %></td>
        </tr>
      <%% end %>
    </tbody>
  </table>
<%% end %>

<%%= link_to_new new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
