<!doctype html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="alert loading-caption hidden">
    <strong><%= t 'navigation.loading' %></strong>
  </div>
  <div class="container">
    <%= render 'shared/menu' %>
    <%= render 'shared/flash' if flash_message %>
    <%= yield %>
  </div>
</body>
</html>
